{% extends 'Admin/admin_home.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-lg-12">
<div class="col-xxl-4 col-md-8">
              <div class="card info-card revenue-card">
                  <div class="filter">
                  <div class="card-header">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi">Teacher Registration Form</i></a>
                  </div>
                  <div class="card-body">
                      <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="card-body">
                              {{login_form|crispy}}
                              {{teacher_form|crispy}}<br>
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </form>
                  </div>
                  </div>
              </div>
</div>
</div>
{% endblock %}